.mainContainer{
    margin-left: 4.25%;
    
    background-color: aqua;
}

.container {
    /* Used to keep the divs in a row.  you can use this for any size of divs */
    float: right;
    margin-bottom: 5px;
    width: 80%;
    overflow: hidden;
    margin-right: 10%;
    
}
.containerprice{
     /* Used to keep the divs in a row.  you can use this for any size of divs */
     float: left;
     margin-bottom: 5px;
     width: 80%;
     overflow: hidden;
}

.quartercolumn {
    font-size: x-large;
    width: 75%;
    margin-left: 12.5%;
}
.thirdcolumn{
    float: left; width: 33%; 
}
