.rowcontainer{
    float: left;
	width: 100%;
	margin-bottom: 5px;
	height: 110px; /* Установка высоты блока для изображения в пикселях */
	voice-family: "\"}\"";
	voice-family: inherit;
    background-color: #dce4eb;
}
p{
    margin-top: 15px;
     /* padding-top: 2.5%; */
     text-align: center;
     font-size: xx-large;
     font-weight: bold;
     color:#454545;
}
p.label{
    margin-top: 50px;
     /* padding-top: 2.5%; */
     text-align: center;
     font-size: xx-large;
     font-weight: bold;
     color:#454545;
     font-family: "Verdana ", sans-serif;
}
a.adres{
    display: block;
	font-size: x-large;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-family: "Verdana ", sans-serif;
    color: #454545;
    
}
.testSvg img{
	width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.75%;
}
select {
    font-size: 0.9rem;
    padding: 2px 5px;
    margin-bottom: 5px;
  }

  .error .input-field{
    border-color: red;
  }
  